/* Add some padding on document's body to prevent the content
to go underneath the header and footer */
body {
    padding-top: 60px;
    padding-bottom: 40px;
    margin: 0px;
}

.container {
    width: 80%;
    /* Center the DIV horizontally */
    margin: 0 auto;
}

.fixed-header,
.fixed-footer {
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
}

.fixed-header {
    top: 0;
}

.fixed-footer {
    bottom: 0;
    height: 30px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

/* Some more styles to beutify this example */
nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

#heading {
    padding: 10px;
    background-color: #F4C2C2;
    font-weight: 600;
    font-size: x-large;
}

p {
    color: hotpink;
    text-decoration: none;
    font-size: large;
}

input[type=text] {
    font-family: 'Consolas', monospace;
    font-size: 1.1em;
    padding: .03em;
    text-align: right;
  }
  
  /* insane button CSS from http://www.bestcssbuttongenerator.com/ */ 
  .myButton {
      -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
      -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
      box-shadow: 0px 1px 0px 0px #f0f7fa;
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
      background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
      background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
      background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
      background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
      background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
      background-color:#33bdef;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px;
      border:1px solid #057fd0;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px -1px 0px #5b6178;
  }
  .myButton:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
      background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
      background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
      background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
      background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
      background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
      background-color:#019ad2;
  }
  .myButton:active {
      position:relative;
      top:1px;
  }
  